variables:
  DOMAIN: "blockchain-client"
  CONFIG: ".env"

Deploy:
  stage: build
  script:
     - git pull origin develop
     - rm -f -r /home/gitlab-runner/$CI_PROJECT_DIR/.git
     - "/home/gitlab-runner/xeroxup1.sh $CI_PROJECT_DIR $CI_BUILD_REF $DOMAIN"
     - ssh -p 5253 -tt sadist@95.216.36.104 'cd /home/sadist/kubernetes/blockchain-client/ && docker build -t sadist/blockchain-client . && docker login && docker push sadist/blockchain-client && kubectl delete deployment deployment-blockchain-client && kubectl apply -f deployment-blockchain-client.yaml'
  only:
    - develop