.v-chip.user-name {
  .v-chip__content {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 32px;
    max-width: 160px;
  }
}

.face-approval-stage {
  width: 100%;
  max-width: 280px;
}