.company-users, .company-info, .project-info-dialog {
  .v-list__tile {
    padding: 15px 0;
    height: auto;

    @media (max-width: 550px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .v-list__tile__content {
      width: 100%;
      align-items: normal;
    }
  }
  .v-list--dense {
    .v-list__tile{
      &:not(.v-list__tile--avatar) {
        height: auto;
      }
    }
  }
}