.v-toolbar.headline {
  text-align: center;
  color: #fff;

  @media (max-width: 960px) {
    font-size: 18px !important;
  }
}

.headline {
  &.face {
    @media (max-width: 960px) {
      .v-toolbar__content {
        min-height: 64px;
        height: auto !important;
      }
    }
  }
}